# Python Virtual Environment
.venv/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!Task_1/TTT.exe
!Task_1/newton.exe
!Task_1/fixed.exe
!Task_2/multi.exe
!Task_2/single.exe

# debug information files
*.dwo


# Windows-specific junk
Thumbs.db
desktop.ini

# Linux-specific junk
.fuse_hidden*
*~

# VS Code settings
.vscode/
